

:root.weird body {

    --button-color: #c1b492;
    --main-color: #bf8599;
    --secondary-color: #fab9c8;
    --active-color: #c1b49222;
    --button-hover-background-color: var(--secondary-color);

    font-family: 'Consolas', sans-serif;
    cursor: url("https://fauux.neocities.org/cursor.gif"), auto;
    opacity: 1;
    color: var(--main-color) !important;
    background-image: url('https://fauux.neocities.org/bg205.gif');
    background-blend-mode: screen;
}

:root.weird .promoted td {
    color: var(--main-color) !important;
}

:root.weird .promoted {
    background-color: rgba(0, 0, 0, 0.25) !important;
}

:root.weird thead th {
    background-color: rgba(0, 0, 0, 0.94) !important;
    font-size: 1.1rem !important;
}

:root.weird thead {
    top: -.5rem !important;
}

:root.weird tr {
    font-size: 1.05rem !important;
}

:root.weird tr:not(.promoted, .you) td {
    color: var(--secondary-color) !important;
    background-color: var(--active-color) !important;
}

:root.weird nav {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

:root.weird .message {
    padding-right: 5px !important;
}

:root.weird .message-header {
    justify-content: space-around;
}

:root.weird .message-date {
    color: #c1b492bb !important;
    opacity: 0.8 !important;
    align-content: flex-end;
}

:root.weird body:before {

    background-position: 50% 0;
}


:root.weird .text-highlight,
:root.weird .message-user-id,
:root.weird .chat-mention-user-id {
    color: var(--secondary-color) !important;
}

:root.weird table {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    margin-bottom: 4px;
}

:root.weird table::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

:root.weird table thead tr {
    color: var(--secondary-color) !important;
    font-size: 1.1rem !important;
}

:root.weird table tbody tr {
    font-size: 1.05rem !important;
}

:root.weird tbody:first:child {
    position: sticky;
}

:root.weird .btn,
:root.weird a {
    cursor: url("https://fauux.neocities.org/cursor2.gif"), auto !important;
}

:root.weird btn-group .dropdown {
    border-radius: .25rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

:root.weird #chatInput,
:root.weird .btn-outline-primary,
:root.weird .btn-outline-primary[data-v-02a2ccc4],
:root.weird .btn-outline-primary[data-v-c6031280] {
    color: var(--secondary-color) !important;
    border-color: var(--main-color) !important;
    outline-color: var(--main-color) !important;
}

:root.weird #chatInput::placeholder {
    color: var(--secondary-color) !important;
}

:root.weird .btn-outline-primary.active,
:root.weird .btn-outline-primary.show .btn-outline-primary.hover {
    background-color: var(--main-color) !important;
}

:root.weird #chatInput[data-v-02a2ccc4] {
    color: var(--main-color) !important;
    border: 1px solid var(--main-color);
}

:root.weird .navbar .navbar-toggler,
:root.weird .navbar .navbar-toggler i {
    color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}

:root.weird .you {
    background-color: var(--secondary-color) !important;
    color: #000 !important;
}

:root.weird .you .text-end {
    font-weight: bold;
}

:root.weird .chat-window {
    height: 97% !important;
}

:root.weird .chat-content,
:root.weird .row .py-1 .ladder-row {
    scrollbar-width: none;
}

:root.weird .message-header,
:root.weird .chat-mention,
:root.weird .chat-mention-at {
    color: var(--main-color) !important;
}
